*{
    margin: 0;
    padding: 0;
    background-color: #a1fcdf;
}

h1{
    height: 5rem;
    line-height: 5rem;
    background-color:#fcd29f;
    color: rgb(12, 25, 170);
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    margin-top: 2rem;
    text-align: center;
    font-size: 30px;
}
.choice{
    height: 70px;
    width: 50px;
}

img:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: black;

}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choices{
    margin-top: 2rem;
    display: flex;
    gap: 1.8rem;
    justify-content: center;
}

.scoreboard{
    margin-top: 2.6rem;
    display: flex;
    gap: 3.5rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.reset{
    margin-top: 3rem;
    text-align: center;
    display: flex;
    justify-content: center
}

#userscore, #compscore{
    text-align: center;
}

#res{
    padding: 4px;
    border: 1px solid black;
    font-size: 15px;
    border-radius: 4%;
    background-color:#fcd29f; ;
}

#res:hover{
    cursor: pointer;
    background-color: rgba(255, 228, 196, 0.705);
}

.result{
    margin-top: 4rem;
    border: 1px solid black;
    /* width: 600px;
    height: 100px; */
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px ;
    padding: 10px;
}